html {
  font-family: Lora, serif;
}

.masthead {
  background: url(../images/);
  background-size: ;
  background-color: ;
  border-top: ;
  border-bottom: ;
}

.logo {
  text-align: center;
  color: ;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
