html {
  font-family: Lora, serif;
}

.masthead {
  background: url(../images/);
  background-size: ;
  background-color: ;
  border-top: ;
  border-bottom: ;
}

.logo {
  text-align: center;
  color: ;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: ;
  background-color: ;
  border: ;
  border-radius: ;
}

.nav a:hover {
  color: ;
  background: ;
  background-repeat: ;
  background-size: ;
  background-position: ;
  background-color: ;
}

.banner {
  background: ;
  background-size: ;
  border-bottom: ;

}

.banner-content {
  background: ;
  background-repeat: ;
  background-size: ;
  background-position: ;
  padding-top: ;
  color: ;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
