html {
  font-family: Lora, serif;
}

.masthead {
  background: url("../images/leaf-bg.svg");
  background-size: ;
  background-color: ;
  border-top: ;
  border-bottom: ;
}

.logo {
  text-align: center;
  color: ;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: ;
  background-color: ;
  border: ;
  border-radius: ;
}

.nav a:hover {
  color: ;
  background: url("../images/leaf-icon.svg");
  background-repeat: ;
  background-size: ;
  background-position: ;
  background-color: ;
}

.banner {
  background:
  linear-gradient(to top, rgba(16, 52,41, .8) 5%, rgba(16, 52, 41, 0) 50%) no-repeat center bottom,
  url("../images/banner.jpg") no-repeat center bottom;
  background-size: cover;
  border-bottom: ;

}

.banner-content {
  background: url("../images/two-leaves.svg");
  background-repeat: ;
  background-size: ;
  background-position: ;
  padding-top: ;
  color: ;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
